# Lab 03 - Sifting Weather Data

## Prelab

You can find the relevant **_.xlsx-file_** posted along with these lab instructions on D2L.  After completing the in-class example, save your script as a Jupyter notebook. Your work completing the in-class example does not need to be submitted for credit.

## Lab

In this lab, you will be working with rainfall  data that is stored in an Excel file called ```weather_data.xlsx```. The Excel file contains the rainfall on different days of the year in hundredths of an inch. The rows of the Excel file represent months and the columns of the Excel file represent days. The data stored in the cells of the Excel file represent rainfall in hundredths of an inch.

You will use Python to derive some meaningful statistics from the rainfall data.

### Import External Packages

The first step in the lab is to add a header to your Jupyter Notebook that includes the lab number and name, your name, the course, quarter and date. 

Below the header cell, you need to import **NumPy** and **Pandas**. NumPy and Pandas are two external packages that you will use in the lab. The standard alias ```np``` and ```pd``` should be used for NumPy and Pandas respectively.

The Jupyter notebook code cell below shows the import lines.

In [1]:
import numpy as np
import pandas as pd

### Save the weather data to a NumPy array

The next step in the lab is to import the Excel file using Pandas and save the weather data to a NumPy array.

Import the weather data from the ```weather_data.xlsx``` file into a Panda's dataframe called ```df```. You can search the Pandas package documentation help section to see how to use the ```pd.read_excel()``` function and why we need the keyword argument ```header=None``` in this example.  

Note: the **_.xlsx-file_** must be in your current file path, and quotes need to surround the file name.

The Jupyter notebook code cell below shows the steps to import the ```weather_data.xlsx``` file into a Pandas dataframe, and save the data in the variable ```df```.

In [2]:
df = pd.read_excel('weather_data.xlsx', header=None)

You can use Pandas methods to view the top of the dataframe with ```df.head()``` and ```df.tail()```. When first imported, the dataframe ```df``` contains a couple values equal to ```-99999```.  Running the command ```print(df.shape)``` will indicate the  dataframe ```df``` has dimensions of 12 rows x 31 columns.  Also check the value in row 1 (index 0), column 3 (index 2) in the dataframe is ```272``` by running the ```df.head()``` method. 

The code cell below completes these steps.

In [3]:
print(df.shape)
df

(12, 31)

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,0,0,272,0,0,0,0,9,26,1,...,1,15,224,0,0,0,0,0,33,33
1,61,103,0,2,0,0,0,2,0,68,...,0,0,5,0,0,0,62,-99999,-99999,-99999
2,2,0,17,27,0,10,0,0,30,25,...,26,0,0,9,6,78,0,5,8,0
3,260,1,0,0,0,1,3,0,5,0,...,0,0,0,0,9,35,13,86,0,-99999
4,47,0,0,0,5,115,49,81,0,0,...,0,0,0,0,0,2,0,0,0,0
5,0,0,30,42,0,0,0,0,0,0,...,0,2,2,240,16,35,14,14,8,-99999
6,0,0,0,0,0,0,0,7,0,0,...,0,0,0,10,0,0,5,0,0,0
7,0,45,0,0,0,0,0,0,5,0,...,0,0,158,62,1,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,37,0,0,0,0,6,138,58,10,-99999
9,0,0,0,14,156,0,0,0,0,110,...,0,0,0,0,0,0,0,0,0,1
10,1,163,5,0,0,0,0,0,0,0,...,0,2,2,10,255,2,0,0,0,-99999
11,0,0,0,0,0,45,0,0,0,15,...,34,0,0,0,0,0,0,0,0,0

Next, convert the Pandas dataframe ```df``` to a NumPy array called ```wd``` (for weather data). Use NumPy's ```np.array()``` function.

The Jupyter notebook code cell below demonstrates this functionality.

In [4]:
wd = np.array(df)

Next use Python's ```type()``` function to verify the variable ```wd``` is a NumPy array. Also verify that the NumPy array is 5 by 31, which is the same dimensions (how many rows, how many columns) as the dataframe ```df``` that we previously printed out.

The code cell below prints ```wd```'s data type and prints the dimensions of ```wd```

In [5]:
print(type(wd))
print(wd.shape)

<class 'numpy.ndarray'>
(12, 31)

### Clean up the data

The weather data is in hundredths of an inch. Multiply each value in the array by ```0.01``` so that the array contains rain fall in inches (not hundredths of an inch).

The code cell below shows how to convert the weather data from hundredths of an inch to inches. When the multiplication symbol ```*``` is used with a NumPy array, the multiplication is _element-wise_. This means each value in the array is multiplied by the scalar ```0.01```.

In [6]:
wd = wd*0.01

### Define a month array and remove -99999 values
 
Define a variable called ```m``` and set it equal to ```1``` for now (Month ```1``` is February, remember Python counting starts at 0).  ```m``` represents the month for which we will compute statistics.  Later, you will change ```m``` to other values.  ```0``` means January, ```1``` means February, and so on.

Use the value in ```m``` to extract that month's data from your ```wd``` array. Store these values in an array called ```md``` (for month data).  Since February has 28 days, you will see positive numbers, zeros and ```NaN``` present in the array.

For example, according to our data, the rainfall for the first 3 days in February are ```0.61``` inches, ```1.03``` inches, and ```0``` inches.

The Jupyter notebook cell which shows this operation is below. Note how indexing is used to pull out all of the values from one row. The general syntax for indexing a NumPy array is ```array[row,col]```. If we use ```wd[1,:]```, this means ```row=1```, ```col=all``` (row one, all columns). Note the values ```-9.9999``` present in the array ```md```.

In [7]:
m = 1
md = wd[1,:]
print(md)

[ 6.1000e-01  1.0300e+00  0.0000e+00  2.0000e-02  0.0000e+00  0.0000e+00
  0.0000e+00  2.0000e-02  0.0000e+00  6.8000e-01  3.0000e-02  3.0000e-02
  1.0000e-02  0.0000e+00  0.0000e+00  0.0000e+00  1.0000e-02  1.3500e+00
  3.0000e-02  6.6000e-01  0.0000e+00  0.0000e+00  0.0000e+00  5.0000e-02
  0.0000e+00  0.0000e+00  0.0000e+00  6.2000e-01 -9.9999e+02 -9.9999e+02
 -9.9999e+02]

The next step is to remove all of the ```-9.9999``` values from the ```md``` array. If we find the average of the values in ```md``` now, which corresponds to the average rainfall in February, the value that's returned doesn't make sense. There is no way the rain fall could be negative. 

The code cell below shows how to find the average of the values in the array ```md```. Note that ```-9.9999``` values are present in the array.

In [8]:
np.mean(md)

-96.60709677419354

To remove the -9.9999 values from the array, use a boolean mask.

The command ```md>-1``` creates a boolean mask. The boolean mask is an array the same size as ```md```, but only contains ```True``` or ```False``` as values. In the mask, all locations where ```md>-1``` are set to ```True```; all other values in the boolean mask are set to ```False``` (We use ```md>-1``` instead of ```md>0``` because we want to keep the ```0``` values, we just want to get rid of the ```-9.9999``` values). 

The code cell below produces the boolean mask. Note how the last three elements are ```False```. The ```False``` values are in the same location as the ```-9.9999``` values in ```md```.

In [9]:
md>-1

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False, False, False])

We then use the boolean mask ```md>-1``` to index the array ```md```. All the locations in ```wd``` where the boolean mask is set to ```True``` are pulled out. All the locations in ```wd``` where the boolean mask is ```False``` do not get pulled out. We put the results of the indexing operation back into the variable ```wd``` to be used later.

The code cell below creates the boolean mask, indexes out values from ```wd``` based on the mask, and puts the results back into ```wd```, which as a result does not contain ```-9.9999``` in any location.

In [10]:
mask = md>-1
md = md[mask]
print(md)

[0.61 1.03 0.   0.02 0.   0.   0.   0.02 0.   0.68 0.03 0.03 0.01 0.
 0.   0.   0.01 1.35 0.03 0.66 0.   0.   0.   0.05 0.   0.   0.   0.62]

### Compute Statistics for the choosen month

The last part of the lab involves computing and storing the following statistics/properties of the data in the ```md``` array in variables named as follows:

 * ```m_avg```: average inches fallen in month ```m```
 * ```m_max```: maximum inches fallen in month ```m```
 * ```d_max```: day(s) of month ```m``` in which ```m_max``` inches fell
 * ```nd_zero```: number of day(s) of month ```m``` in which zero inches fell
 * ```d_zero```: day(s) of month ````m```` in which zero inches fell
 * ```d_nonzero```: day(s) of month ```m``` in which at least some rain fell
 * ```nd_nonzero```: number of day(s) in month ```m``` in which at least some rain fell   
 * ```m_avg_nonzero```: average inches of only day(s) in which some rain fell
 
NumPy's ```np.where()``` function is useful here as are ```np.mean()```, ```np.max()``` and an array's ```array.size``` attribute.

Test all of your values for the month of February manually to make sure they are correct.

Then run your script for the January data (```m=0```) and check the results against manual calculations for that month.

You may wish to test your script against other month's data.  When you are convinced your results and variable names are correct, set ```m=1``` and restart the Jupyter notebook Kernel and clear all output. Run each cell one last time and ensure the script is error free.

For your own records, save your ```lab2.ipynb``` file and your ```weather_data.xlsx``` file to the same directory.  You do not need to submit your ```weather_data.xlsx``` file because your instructor has their own copy to test your script.

## Deliverable

One .ipynb-file with all cells run. The .ipynb-file should run without errors. Uploaded the .ipynb file to D2L by the end of the lab period.

#### _By D. Kruger, adapted by P. Kazarinoff, Portland Community College, 2019_