# Lab 02 - Sifting Weather Data

## Prelab

You can find the relevant .xlsx-file posted along with these lab instructions on D2L.  After completing the in-class example, save your script as a Jupyter notebook.  Your work completing the in-class example does not need to be submitted for credit.

## Lab

In this lab, you will be working with rainfall  data that is stored in an Excel file called ```weather_data.xlsx```. The Excel file contains the rainfall on different days of the year in hundredths of an inch. The rows of the Excel file represent months and the columns of the Excel file represent days. The data stored in the cells of the Excel file represent rainfall in hundredths of an inch.

You will use Python to derive some meaningful statistics from the data.

### Import External Packages

The first step in the lab is to add a header to your Jupyter Notebook that includes the lab number and name, your name, the course, quarter and date. 

Below the header cell, you need to import **NumPy** and **Pandas**. These two external packages will be used in the lab. The standard alias ```np``` and ```pd``` should be used for NumPy and Pandas respectively.

The Jupyter notebook code cell below shows the import lines.

In [1]:
import numpy as np
import pandas as pd

### Save the weather data to a NumPy array

The next step in the lab is to import the Excel file using Pandas and save the weather data to a NumPy array.

Import the weather data from the ```weather_data.xls``` file into a Panda's dataframe called ```wdf```.  When first imported, the dataframe contains a couple values equal to ```-99999```.  Transpose the data (as done in Example 3.3) so the data for each month is in columns.  Save the transposed dataframe to the variable ```df```.

The Jupyter notebook code cell below shows the steps to import the ```weather_data.xlsx``` file into a Pandas dataframe, then transpose the data frame and save as the variable ```df```.

In [2]:
wdf = pd.read_excel('weather_data.xlsx', header=None)
df = wdf.transpose()

Search the Pandas package documentation help section to see how to use the ```pd.read_excel()``` function and why we need the keyword argument ```header=None``` in this example.  

Note: the .xlsx-file must be in your current file path, and quotes need to surround the file name.

The Jupyter notebook code cell below shows the steps to import the ```weather_data.xlsx``` file into a Pandas dataframe, then transpose the data frame and save as the variable ```df```.

Afterwards, running ```print(df.shape)``` will indicate the  dataframe ```df``` has dimensions of 31 rows x 12 columns.  Also check the value in row 0, column 3 in the dataframe is ```260``` by running the ```df.head()``` method. 

The code cell below completes these steps

In [3]:
print(df.shape)
df.head()

(31, 12)

    0    1   2    3   4   5   6   7   8    9    10  11
0    0   61   2  260  47   0   0   0   0    0    1   0
1    0  103   0    1   0   0   0  45   0    0  163   0
2  272    0  17    0   0  30   0   0   0    0    5   0
3    0    2  27    0   0  42   0   0   0   14    0   0
4    0    0   0    0   5   0   0   0   0  156    0   0

Next, convert the Pandas dataframe ```df``` to a NumPy array called ```wd``` (for weather data). Use NumPy's ```np.array()``` function.

The Jupyter notebook code cell below demonstrates this functionality

In [4]:
wd = np.array(df)

You use Python's type function to verify the variable ```wd``` is a NumPy array. The code cell below will print ```wd```'s data type

In [5]:
print(type(wd))

<class 'numpy.ndarray'>

### Clean up the data

Multiply each value in the array by ```0.01``` so that the array contains rain fall in inched (not hundredths of an inch). Next, convert all the values in the array ```wd``` which are equal to ```-99999``` and set them to ```NaN``` (not a number). NumPy has a special ```NaN``` type which allows the location of the ```NaN``` value to stay in the array, but not figure into calculations. 

The code cell below shows how to convert the data to inches of rainfall and convert all the -99999 into NumPy's ```NaN``` data type.

In [6]:
wdf=wd*0.01
wdf[wdf<0]=np.nan

### Define a month array and compute statistics

Define a variable called ```month``` and set it equal to ```1``` for now (Month ```1``` is February, remember Python counting starts at 0).  ```month``` represents the month for which we will compute statistics.  Later, you will change ```month``` to other values.  ```0``` means January, ```1``` means February, and so on.

Use the value in ```month``` to extract that month's data from your ```wd``` array. Store these values in a array called ```m```.  Since February has 28 days, you will see positive numbers, zeros and ```NaN``` present in the array.

For example, according to our data, the rainfall for the first 3 days in January are 0 inches, 0 inches, and 2.72 inches.

Compute and store the following statistics/properties of the data in the dataframe ```df1``` in variables named as follows:

 * ```m_avg```: average inches fallen in month ```m```
 * ```m_max```: maximum inches fallen in month ```m```
 * ```d_max```: day(s) of month ```m``` in which ```m_max``` inches fell
 * ```nd_zero```: number of day(s) of month ```m``` in which zero inches fell
 * ```d_zero```: day(s) of month ````m```` in which zero inches fell
 * ```d_nonzero```: day(s) of month ```m``` in which at least some rain fell
 * ```nd_nonzero```: number of day(s) in month ```m``` in which at least some rain fell   
 * ```m_avg_nonzero```: average inches of only day(s) in which some rain fell

Test all of your values for the month of February manually to make sure they are correct.

Run your script for the January data (```m=0```) and check the results against manual calculations for that month.

You may wish to test your script against other month's data.  When you are convinced your results and variable names are correct, Restart the notebook Kernel and clear all output. Run each cell one last time and ensure the script is error free.

For your own records, save your lab2.ipynb file and your ```weather_data.xlsx``` file to the same directory.  You do not need to submit your ```weather_data.xlsx``` file because your instructor will have their own copy to test your script.

## Deliverable

One .ipynb-file with all cells run. The .ipynb-file should run without errors. Uploaded the .ipynb file to D2L by the end of the lab period.

#### _By D. Kruger, adapted by P. Kazarinoff, Portland Community College, 2018_